* {
    box-sizing: border-box;
}
body{
    background-color: #6699cc;
}
h1{
    text-align: center;
    color:#294680;
    font-family: Cambria, serif;
}
#homeButtonDiv{
    position:fixed;
    margin:auto;
}
#przyciskHome{
    position:fixed;
    left:120px;
    transition: transform .2s;
}
#przyciskHome:hover{
    transform: scale(1.3);
}