@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap&subset=latin-ext');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #6699cc;
    background-image: url("../Images/pageBackground.jpg");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}
#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#logoBar {
    width: 100%;
    font-size: 85px;
    text-align: center;
    color: #323232;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 10px;
    padding-top: 45px;
}
#lineBar {
    height: 2px;
    width: 70%;
    background-color: #323232;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 20px;
}
#loginFormBar {
    width: 50%;
    background-color:rgba(192,192,192,0.3);
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#homeButtonDiv {
    clear: both;
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5px;
}
#labelBar {
    margin: auto;
    text-align: center;
    font-family: 'Kulim Park', sans-serif;
}
#zalogujButton {
    margin: auto;
    text-align: center;
    display: block;
}
#rejestrujButton {
    margin: auto;
    text-align: center;
    display: block;
}
p {
     text-align: center;
     letter-spacing: 3px;
     font-family: 'Kulim Park', sans-serif;
     padding: 3px;
     text-transform: uppercase;
 }
p#textHome {
    color: white;
}
input[type=text]::placeholder {
    color: darkslategrey;
    opacity: 0.8;
}
input[type=text],
input[type=password]
{
    width: 50%;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}
input[type=submit]
{
    width: 50%;
    background-color: #f2685c;
    font-family: 'Poiret One', cursive;
    font-size:20px;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin: auto;
}
input[type=submit]:focus
{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}
input[type=submit]:hover
{
    background-color: #c81e0f;
}
input[type=text]:focus,
input[type=password]:focus
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 1px solid #323232;
    background-color: #e9f3e9;
    color: #428c42;
}
@media screen and (min-width: 600px) and (max-width: 800px){
    #logoBar {
        font-size: 65px;
    }
    input[type=submit] {
        font-size: 15px;
    }
    p {
        font-size: 14px;
    }
}
@media screen and (min-width: 200px) and (max-width: 599px){
    #logoBar {
        font-size: 45px;
    }
    input[type=submit] {
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
}