@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap&subset=latin-ext');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #6699cc;
    background-image: url("../Images/pageBackground.jpg");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}
#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#panelBar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;
    text-align: center;
    color: #323232;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 10px;
}
#content {
    width: 50%;
    border-radius: 50px;
    background-color:rgba(192,192,192,0.3);
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#topBar {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 76%;
    text-align: center;
}
img  {
    padding: 5px;
    border-radius: 10px;
    margin: auto;
}
#lineBar {
    height: 2px;
    width: 70%;
    background-color: #323232;
    margin: auto;
    border-radius: 10px;
}
#bottomBar {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 76%;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    clear: both;
    width: 100%;
    padding: 5px;
    color: white;
    text-align: center;
    opacity: 0.7;
}
a#loginButton {
    padding: 5px;
}
a#loginButton:hover {
    background-color: #c81e0f;
    color: white;
}
#loginButtonDiv{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    cursor: pointer;
    text-align: center;
}
#loginButton:link, #loginButton:visited {
    background-color:#f2685c; /* kolor wypełnienia*/
    color:#323232; /* kolor napisu wewnątrz*/
    text-align:center;
    text-decoration:none;
    border-radius: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 8px #294680;
    display:inline-block;

}
@media screen and (min-width: 600px) and (max-width: 800px){
    #panelBar {
        font-size: 80px;
    }
    #footer {
        font-size: 12px;
    }
    img {
        width: 210px;
        height: 164px
    }
}
@media screen and (min-width: 200px) and (max-width: 599px){
    #panelBar {
        font-size: 50px;
    }
    #footer {
        font-size: 10px;
    }
    img {
        width: 150px;
        height: 106px
    }
}